<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
<!--    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />-->
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
          akka {
                stdout-loglevel = INFO
                loglevel = DEBUG
                log-config-on-start = on        
        }
      ]]>
    </hocon>
  </akka>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
